*{
padding: 0;
box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.contenedor{
    width: min-content(90%, 120rem);
    margin: auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    text-decoration: dashed;
    font-size: 4rem;
}

img{
    max-width: 100%;
}